<ion-header>
  <ion-toolbar>
    <ion-title>Welcome!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding" *ngIf="!user">
    <p style="text-align:center">Please sign into your account:</p>
    <ion-button class="ion-padding" expand="block" (click)="login()" size="large">Log In</ion-button>
    <p class="error">
      {{errorMessage}}
    </p>
  </div>

  <div class="ion-padding" *ngIf="user">
    <div align="center">
      <ion-avatar>
        <img src="{{ user.picture }}">
      </ion-avatar>

      <p>{{ user.name}}</p>
      <p>{{ user.email }}</p>
    </div>

    <ion-button expand="block" (click)="logout();">Log out</ion-button>

    <ion-button expand="block" (click)="getApi();">Call API</ion-button>
    <div class="result-block-container" *ngIf="responseJson">
      <div class="result-block" [ngClass]="{ show: !!responseJson }">
        <h6 class="muted">Result</h6>
        <pre>
          <code class="js rounded" [highlight]="responseJson"></code>
        </pre>
      </div>
    </div>
  </div>
</ion-content>